CRUDWCF/WCFTestWeb/WCFTestWeb/Connected Services/CustomClientServices/ManagerDataClient1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientApplicationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientApplicationModel" nillable="true" type="tns:ClientApplicationModel" />
  <xs:complexType name="ArrayOfClientApplicationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientApplicationModel" nillable="true" type="tns:ClientApplicationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientApplicationModel" nillable="true" type="tns:ArrayOfClientApplicationModel" />
</xs:schema>