CRUDWCF/WCFTestWeb/WCFTestWeb/Connected Services/CustomClientServices/ManagerDataClient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18571/ManagerDataClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" />
  <xs:element name="ManagerInsetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" minOccurs="0" name="clientModelServices" nillable="true" type="q1:ClientApplicationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerInsetClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManegerUpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" minOccurs="0" name="clientModelServices" nillable="true" type="q2:ClientApplicationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManegerUpdateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerDeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" minOccurs="0" name="clientModelServices" nillable="true" type="q3:ClientApplicationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerDeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerGetDataClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerGetDataClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelsSApplications.ModelsServices" minOccurs="0" name="ManagerGetDataClientResult" nillable="true" type="q4:ArrayOfClientApplicationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>